 div{
                text-align:center;
                margin: 20px;
                padding:20px;
                

            }
            button:hover{
                background-color: green;
            }
            @media(min-width:600px){
                body{
                    background-color: wheat;
                }
            }
            @media(max-width:599px){
                body{
                    background-color: hotpink;
                }
            }
